In [1]:
!pip3 install mysql-connector-python python-dotenv

Requirement already satisfied: mysql-connector-python in c:\users\alexa\appdata\local\programs\python\python312\lib\site-packages (9.2.0)
Requirement already satisfied: python-dotenv in c:\users\alexa\appdata\local\programs\python\python312\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector
from mysql.connector import Error
from dotenv import load_dotenv
import os

In [ ]:
# Load environment variables from .env file
load_dotenv()

# Database connection details
db_host = "swagswipeserveur.mysql.database.azure.com"
db_user = "adminSwag"
db_password = "SwaggySwipe123"
db_database = "swagswipe"

In [4]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

In [5]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print(f"Query executed successfully: {query}")
    except Error as e:
        print(f"The error '{e}' occurred when executing: {query}")

In [6]:
def execute_script_from_file(connection, file_path):
    cursor = connection.cursor()
    with open(file_path, 'r') as file:
        script = file.read()

    statements = script.split(';')

    for statement in statements:
        if statement.strip():
            try:
                cursor.execute(statement)
                connection.commit()
                print(f"Statement executed successfully: {statement}")
            except Error as e:
                if e.errno == 1050:  # Error code for "Table already exists"
                    print(f"The error '{e}' occurred when executing statement: {statement} - Table already exists, continuing...")
                elif e.errno == 1061:  # Error code for "Duplicate key name"
                    print(f"The error '{e}' occurred when executing statement: {statement} - Duplicate key name, continuing...")
                elif e.errno == 1062:  # Error code for "Duplicate entry"
                    print(f"The error '{e}' occurred when executing statement: {statement} - Duplicate entry, continuing...")
                elif e.errno == 1146:  # Error code for "Table doesn't exist"
                    print(f"The error '{e}' occurred when executing statement: {statement} - Table doesn't exist, continuing...")
                else:
                    print(f"The error '{e}' occurred when executing statement: {statement}")

In [7]:
def main():
    connection = create_connection(db_host, db_user, db_password, db_database)

    if connection:
        execute_script_from_file(connection, "1create.sql")
        execute_script_from_file(connection, "2contraines.sql")
        execute_script_from_file(connection, "3insert.sql")

        connection.close()

if __name__ == "__main__":
    main()

Connection to MySQL DB successful
Statement executed successfully: -- Suppression des tables en respectant les dÃ©pendances
DROP TABLE IF EXISTS produit
Statement executed successfully:
DROP TABLE IF EXISTS avis
Statement executed successfully:
DROP TABLE IF EXISTS utilisateur
Statement executed successfully:

-- CrÃ©ation de la table des utilisateurs
CREATE TABLE utilisateur (
    id_user INT(10) AUTO_INCREMENT PRIMARY KEY,
    nom VARCHAR(255) NOT NULL,
    prenom VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    telephone VARCHAR(12) NOT NULL,
    mdp VARCHAR(255) NOT NULL,
    num_civique VARCHAR(255) NOT NULL,
    rue VARCHAR(255) NOT NULL,
    ville VARCHAR(255) NOT NULL,
    code_postal VARCHAR(255) NOT NULL,
    role ENUM('admin', 'usager') NOT NULL DEFAULT 'usager'
) COMMENT='Table des utilisateurs'
Statement executed successfully:

-- CrÃ©ation de la table des produits
CREATE TABLE produit (
    id_produit INT(10) PRIMARY KEY,
    nom VARCHAR(255) NOT NULL,
    prix DECIMAL(10,2) NOT NULL,
    image VARCHAR(255) NOT NULL,
    taille VARCHAR(255) NOT NULL,
    conditions VARCHAR(255) NOT NULL, -- "condition" est un mot rÃ©servÃ©
    marque VARCHAR(255),
    description VARCHAR(255),
    categorie VARCHAR(255) NOT NULL,
    id_user INT(10) NOT NULL,
    FOREIGN KEY (id_user) REFERENCES utilisateur(id_user)
) COMMENT='Table des produits'
Statement executed successfully:

-- CrÃ©ation de la table des avis
CREATE TABLE avis (
    id_avis INT(10) AUTO_INCREMENT PRIMARY KEY,
    id_user INT(10),
    avis VARCHAR(255) NOT NULL,
    note INT(1) NOT NULL,
    FOREIGN KEY (id_user) REFERENCES utilisateur(id_user)
) COMMENT='Table des avis'
Statement executed successfully:
-- Insertion des utilisateurs
INSERT INTO utilisateur (nom, prenom, email, telephone, mdp, num_civique, rue, ville, code_postal, role) VALUES
('Martin', 'Vincent', 'vincent.martin.2@ens.etsmtl.ca', '111-111-1111', 'mdp1', '123', 'notre dame', 'Montreal', 'h1x 2v3', 'usager'),
('Stoia', 'Maria Sandra', 'sandra-maria.stoia.1@ens.etsmtl.ca', '111-111-1111', 'mdp2', '123', 'notre dame', 'Montreal', 'h1x 2v3', 'usager'),
('Wilmot', 'Xavier', 'xavier.wilmot.1@ens.etsmtl.ca', '111-111-1111', 'mdp3', '123', 'notre dame', 'Montreal', 'h1x 2v3', 'usager'),
('Berard', 'Nicolas', 'nicolas.berard.1@ens.etsmtl.ca', '111-111-1111', 'mdp4', '123', 'notre dame', 'Montreal', 'h1x 2v3', 'usager'),
('Dubois', 'Rose-Anne', 'rose-anne.dubois.1@ens.etsmtl.ca', '111-111-1111', 'mdp5', '123', 'notre dame', 'Montreal', 'h1x 2v3', 'usager'),
('Bouchard', 'Alexandre', 'alexandre.bouchard.6@ens.etsmtl.ca', '111-111-1111', 'mdp6', '123', 'notre dame', 'Montreal', 'h1x 2v3', 'usager')
The error '1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`swagswipe`.`produit`, CONSTRAINT `produit_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`))' occurred when executing statement:


INSERT INTO produit (
        id_produit, nom, prix, image, categorie, description, taille, conditions, marque, id_user
    ) VALUES (
        3, 'Soulier Sport', 59.99, 'img/soulier_test4.jpg',
        'soulier', 'Des souliers de sport lÃ©gers et confortables pour la course.', '42',
        'Bon Ã©tat', 'Adidas', 789
    )
The error '1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's', 101
    )' at line 6' occurred when executing statement:
INSERT INTO produit (
        id_produit, nom, prix, image, categorie, description, taille, conditions, marque, id_user
    ) VALUES (
        4, 'Veste en denim', 34.99, 'img/veste_test1.jpg',
        'plein_air', 'Une veste en denim intemporelle pour un style classique.', 'M',
        'TrÃ¨s bon Ã©tat', 'Levi's', 101
    )